extends layout.pug

block content
	h2.title Расстояние между точками на карте
	p Вы можете указать координаты двух точек на карте Google Map и с помощью Google API вам будет возвращено расстояние между этими двумя точками

	form(method="POST")
		.columns
			.column.is-two-fifths
				p Координаты начальной точки
				.columns
					.column
						.field
							label.label Широта
							.control
								input.input(type="text" name="origlatitude" placeholder="введите широту")
					.column
						.field
							label.label Долгота
							.control
								input.input(type="text" name="origlongitude" placeholder="введите долготу")
				p Координаты конечной точки
				.columns
					.column
						.field
							label.label Широта
							.control
								input.input(type="text" name="destlatitude" placeholder="введите широту")
					.column
						.field
							label.label Долгота
							.control
								input.input(type="text" name="destlongitude" placeholder="введите долготу")
				.field
					.control
						button.button.is-link(type='submit') Получить

			
				if googleData
					.colunms
						.column
							.message.is-success
								.message-header
									p Ответ
								.message-body
									P Длительность пути: #{googleData.duration.text}
									P Дальность пути: #{googleData.distance.text}


			


	