extends layout.pug

block content
	h2.title Список предложений
	if username
		h1.title Привет #{username}
	else
		h1.title Вход
			form(method='POST')
				input(type="text" name="username")
				button(type='submit') Send