extends layout.pug

block content
	.columns
		.column.is-two-fifths
			h2.title Список предложений
			if username
				h1.title Привет #{username}
			else
				h1.title Вход
				form(method='POST')
					.field
						.control
							input.input(type="text" name="username")
					.field
						.control
							button.button.is-link(type='submit') Send