extends layout.pug

block content
	p описание предложения
	h2= suggestion.title


	if suggestion.voters.size
		p Проголосовавшие
		ul
			each voter in [...suggestion.voters]
				li= voter



	form(method="post")
		.field
			.control
				if suggestion.voters.has(username)
					button.button.is-danger(type="submit") Оменить голос
				else
					button.button.is-success(type="submit") Проголосовать
